<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Tareas y Refuerzos</title>
    <link rel="shortcut icon" type="image/png" href="static/icon.png"/>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8535534204109009"
     crossorigin="anonymous"></script>
    <meta name="theme-color" content="#ffffff">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <link rel="apple-touch-icon" href="static/icon.png">
    <link rel="apple-touch-startup-image" href="static/icon.png">
    <link rel="manifest" href="static/manifest.json">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script>
        if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("sw.js")
            .then(reg => console.log("Registro de SW exitoso", reg))
            .catch(err => console.warn('Error al tratar de registrar el sw', err))
        }
    </script>
    </head>
<body>
    <div class="container text-center">
        <div class="row my-5">
            <div class="col-12 col-lg-3">
                <img src="static/icon.png" style="width:200px">
            </div>
            <div class="col-12 mt-3 col-lg-9">
                <h1>Bienvenid@ a la fantabulosa pagina Tareas y Refuerzos!!</h1>
            </div>
        </div>
        <div>
            <h2>Te apoyamos todo tipo de deberes academicos (ahora con pagina de internet), 
                cotiza en linea o escribenos usando 
                <a href="https://api.whatsapp.com/send?phone=573192869775" target="_blank">
                    <strong>Este enlace</strong>
                </a></h2>
            <p>Para cotizar tu trabajo solo debes seguir estos sencillos pasos &#128071</p>
            <p>Ingresa el tipo de trababo que deseas cotizar:</p>
        </div>
    </div>
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-4 ">
                <div class="card pt-3 my-3 mx-auto" style="width: 300px; box-shadow: 0px 0px 10px 2px gray;">
                    <a href="trabajos" style="text-decoration:none">
                        <img src="static/logo1.png" width="200px">
                        <p style="color: black;">Trabajos</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 ">
                <div class="card pt-3 my-3 mx-auto" style="width: 300px; box-shadow: 0px 0px 10px 2px gray;">
                    <a href="examenes" style="text-decoration:none">
                        <img src="static/logo2.png" width="200px">
                        <p style="color: black;">Examenes</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 ">
                <div class="card pt-3 my-3 mx-auto" style="width: 300px; box-shadow: 0px 0px 10px 2px gray;">
                    <a href="clases" style="text-decoration:none">
                        <img src="static/logo3.png" width="200px">
                        <p style="color: black;">Clases</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div>
            <p>
                Nota: Los pagos se harán a traves de la cuenta autorizada 
                de nequi # 3194837953, 
                para esto puedes pagar a traves de 
                <a href="https://recarga.nequi.com.co/bdigitalpsl/?_ga=2.208112852.732471645.1618708721-1802236995.1616614147#!/" target="_blank">PSE</a>,
                 corresponsales autorizados de bancolombia o usando el codigo 
                <a id="qr" href="static/qr.jpeg">QR</a>
            </p>
            <br>
            <p>Siguenos en nuestras redes</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="https://www.instagram.com/tareas_refuerzos/?r=nametag">
                    <img src="static/instagram.png" width="70px">
                </a>
            </div>
            <div class="col-auto">
                <a href="https://www.facebook.com/tareasrefuerzos/">
                    <img src="static/facebook.png" width="70px">
                </a>
            </div>
            <div class="col-auto">
                <a href="https://www.youtube.com/channel/UC132elAWM1BRJP15Ay9oLDQ">
                    <img src="static/youtube.png" width="70px">
                </a>
            </div>
        </div>
    </div>
    
</body>
</html>